tvecs1024
tvecs1024-90s
tvecs512
tvecs512-90s
tvecs768
tvecs768-90s
*.req
*.rsp
*.out.*
*.json
neon/params.h
neon/neon_cbd
neon/neon_sample
neon/.gdb_history
neon/gen_sample.py
neon/test_func/neon_sample
ref/test_speedusec512
ref/test_speedusec768
ref/test_speedusec1024
neon/test_speedusec1024
neon/test_speedusec768
neon/test_speedusec512
neon/cbd
neon/test_speed512keccak
neon/test_speed768keccak
neon/test_speed1024keccak
ref/test_speed512keccak
ref/test_speed768keccak
ref/test_speed1024keccak
